<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%# messages() %>
            <% if (errors) { %>
                <ul class="notice">
                    <% errors.forEach(errors=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% }%>
                    <li><a href="/account/management">Welcome <%= locals.account_firstname || accountData.account_firstname %></a></li>
                    <li><a href="/account/management">You're logged in</a></li>
                    </ul>

                    <main>

                        <% if(accountData.account_type !="Client" ){ %>
                            <h3>Inventory Management</h3>
                            <p><a href="/inv/">Manage Inventory</a></p>
                            <% } %>
                                <p><a href="/account/update/<%= accountData.account_id %>">Update Account Information</a>
                                </p>

                    </main>