<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <nav>
    <ul>
      <!-- Login Link (only visible when not logged in) -->
      <% if (!locals.user) { %>
        <li><a href="/login">My account</a></li>
      <% } %>
      <!-- Welcome and Logout Links (only visible when logged in) -->
      <% if (locals.user) { %>
        <li><a href="#">Welcome, <%= locals.user %></a></li>
        <li><a href="/logout">Logout</a></li>
      <% } %>

  </div>
</header>+