<main>
  <section class="container">
    <h2>Welcome to CSE Motors</h2>
    <img src="/images/vehicles/adventador.jpg" alt="Adventador car on display" class="welcome-image">
    <p>DMC Delorean - 3 Cup Holders, Superman Doors, Fuzzy Dice</p>
    <img src="/images/site/own_today.png" alt="Own today promotional banner" class="own_today">
  </section>
  <section class="reviews-upgrades">
    <div class="reviews">
      <h3>DMC Dolerean Reviews</h3>
      <ul>
        <li>"So fast it’s almost traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I’m feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80s livin and like it!" (5/5)</li>
      </ul>
    </div>
  </section>
  <section class="features">
    <h4>Dolerean Upgrades</h4>
    <div class="features1">
      <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor" class="flux-capacitor">
      <img src="/images/upgrades/flame.jpg" alt="Flame Decals" class="flame-decals">
      <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" class="bumper-stickers">
      <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps" class="hub-caps">
    </div>
</main>